doctype html
html.bg-grey-lightest.antialiased
    head
        title El Reto
        link(rel='stylesheet', type='text/css', href='app.css')
        block scripts
            script(src='https://code.jquery.com/jquery-3.3.1.min.js')

    body
        div.bg-white.border-b.border-grey-lighter.w-full
            div.flex.items-center.h-16
                div(class='w-full text-center')
                    a(href='/' class='inline-block m-2') Inicio
                    h1(class='text-black inline-block m-2') El Reto
                    a(href='/infos' class='inline-block m-2') informaciones
        block content
        block bottom_scripts
            script(src='app.js')
